* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}



.header img {

    width: 75%;
    height: 75%;
   margin-bottom: px;
}

.container {

    margin-top: 2px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.center {

    width: 380px;
    height: 450px;
    padding: 70px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 1px;
    text-align: center;
    padding-bottom: 200px;
   
   
}

form {

    display: flex;
    flex-direction: column;
    gap: 5px;

    
}
form input{

    padding: 10px;
    background-color:rgb(255, 250, 250) ;
    border-radius: 2px ;
    border:solid 1px rgb(168, 168, 168)
}

.Loginin-bttn {

    width: 100%;
    background-color: #5AC3FF;
    color: white;
    border: none;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
   margin-top: 15px;
}

.line {

    display: flex;
    margin-top: 7px;
    padding-top: 20px;
}

.arrow {

    background-color: hsl(0, 25%, 91%);
    height: 1px;
    width: 140px;
}

.content {

    color: gray;
    margin-top: -8px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 500;
}

.social-icon {

   padding-top: 30px;
}

.social-icon a {

    text-decoration: none;
    color: rgb(71, 71, 224);
}

.social-icon span:hover {

    color: black;
}

.forgot-password {

    padding-top: 15px;
}

.forgot-password a {

    text-decoration: none;
    color: rgb(52, 51, 51);
}

.social-icon i {

    padding-right: 5px;
}
.social-icon span {

    font-weight: 400;
    color: #5AC3FF;

}



.footer {
    width: 380px;
    height: 75px;
    padding: 30px;
    margin-top: 5px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 1px;
    text-align: center;
    
}


.footer a {
    text-decoration: none;
    color: #1896df;
    font-weight: 400;
}

.description {
    margin-top: 15px;
}

.store-img {
    display: flex;
    justify-content: center;
    padding-top:15px ;
    gap: 8px;
}

.store-img img {
    width: 50%;
    height: 40%;
}

